/* #eb8b9e */

.fancyInput {
  margin-top: 20px;
  margin-left: 20px;
}

.fancyInput .group {
  position:relative;
  margin-bottom:45px;
}

.fancyInput input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #eb8b9e;
  background: transparent;
}

.fancyInput input:focus { outline:none; }

/* LABEL ======================================= */
.fancyInput label {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
.fancyInput input:focus ~ label, .fancyInput input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color: #eb8b9e;
}

/* BOTTOM BARS ================================= */
.fancyInput .bar 	{ position:relative; display:block; width:300px; }
.fancyInput .bar:before, .fancyInput .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#eb8b9e;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.fancyInput .bar:before {
  left:50%;
}
.fancyInput .bar:after {
  right:50%;
}

/* active state */
.fancyInput input:focus ~ .bar:before, .fancyInput input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.fancyInput .highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.fancyInput input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
