body {
  /* background: linear-gradient(-90deg, #fe8e8499, #a680fd99 ); */
  background: #eee;

}

h1, h2, h3, p, b, span, a {
  font-family: 'Comfortaa', cursive;
}

h1 {
  font-size: 27px;
  margin-top: 10px;
}

p {
  font-size: 14px;
}

a:hover {
  color: #eb8b9e;
}

input[type=button] {

  background: transparent;
  color: #eb8b9e;
  width: 130px;
  height: 35px;
  border: 2px solid #eb8b9e;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px;
  margin-top: 0px;
  font-weight: bold;

}

input[type=button]:hover {
  background: linear-gradient(to right, #b983e4, #eb8b9e);
  border: none;
  color: white;
  font-weight: bold;
}

.ic_link {
  width: 15px;
  height: auto;
  position: absolute;
  bottom: 20px;
}

.green {
  color: #9cdc84;
}

.gray, .gray * {
  color: #aaa;
}

.primaryColor, .primaryColor * {
  color: #eb8b9e;
}


#price {
  position: absolute;
  bottom: 0px;
  right: 15px;
  color: #aaa;
  font-size: 13px;
}

#price b, #price_value {
  color: #aaa;
}

.container {
  width: 100%;
  z-index: 1000;
}


#logo {

  width: auto;
  height: 30px;
  margin: 30px 50px;
  margin-bottom: 0px;

}

#slogan, #slogan b {
  color: #aaa;
}
#slogan{
  margin-left: 50px;
  margin-top: 5px;
  font-size: 16px;
}

#website_description {
  margin-bottom: 50px;
/*
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7; */
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background: white;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


#website_image {
  width: 100%;
  min-height: 400px;
  object-fit: cover;

}


.footer {
  bottom: 0px;
}

.footer span {
  color: #aaa;
  cursor: pointer;
}

.footer span:hover {
  color: #eb8b9e;
}

#particles-js {
  position: fixed;
  z-index: 0;
  pointer-events: none;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#createBid {
  margin-top: 50px;
  margin-bottom: 100px;
}

#finishedTransation {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;
}
